extends layout
block content
	//checking is user exists
	if users
		.container
			h1 Welcome #{users.email}
			.container
				h1 welcome #{usersGlobal}
	// - Image Slider
	#slides.container.carousel.slide(data-ride='carousel')
		ul.carousel-indicators
			li.active(data-target='#slides', data-slide-to='0')
			li(data-target='#slides', data-slide-to='1')
			li(data-target='#slides', data-slide-to='2')
		.carousel-inner
			.carousel-item.active
				img(src='red.jpg')
			.carousel-item
				img(src='red2.jpg')
			.carousel-item
				img(src='red3.jpg')
		a.carousel-control-prev(href='#slides', data-slide='prev')
			span.carousel-control-prev-icon
		a.carousel-control-next(href='#slides', data-slide='next')
			span.carousel-control-next-icon
	// - Jumbotron
	
	// event sections
	if events
		
		.row
			each event, j in events	

				.col-sm-6.view.overlay.zoom
					a(href="/")
						.card-deck.mb-5
							.card.bg-success
								.card.body.text-center
									.card.bg-dark
										h8.card-title.text-warning.text-center.font-italic.font-weight-light By: #{event.event_UserName}
											if usersGlobal
												if usersGlobal.id == event.event_Userid
													a(href="/users/eventList/edit/" + event._id)
														button.btn.btn-warning.float-md-right(type='button') Edit / Delete
										h3.card-title.text-danger #{event.event_name}
										//p.card-text.text-light  #{event.event_body}
										p.card-text.text-light.text-left.font-italic Location:  #{event.event_location}
										p.card-text.text-light.text-left.font-italic  Date: #{event.event_date}
									
										
				
	

	br
	br
	br


	// - Welcome Section
	.container
		p
			| From they fine john he give of rich he. They age and draw mrs like. Improving end distrusts may instantly was household applauded incommode. Why kept very ever home mrs. Considered sympathize ten uncommonly occasional assistance sufficient not. Letter of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.
			| Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind. Exquisite newspaper attending on certainty oh suspicion of. He less do quit evil is. Add matter family active mutual put wishes happen.
			| View fine me gone this name an rank. Compact greater and demands mrs the parlors. Park be fine easy am size away. Him and fine bred knew. At of hardly sister favour. As society explain country raising weather of. Sentiments nor everything off out uncommonly partiality bed.
			| In as name to here them deny wise this. As rapid woody my he me which. Men but they fail shew just wish next put. Led all visitor musical calling nor her. Within coming figure sex things are. Pretended concluded did repulsive education smallness yet yet described. Had country man his pressed shewing. No gate dare rose he. Eyes year if miss he as upon.
			| Inhabit hearing perhaps on ye do no. It maids decay as there he. Smallest on suitable disposed do although blessing he juvenile in. Society or if excited forbade. Here name off yet she long sold easy whom. Differed oh cheerful procured pleasure securing suitable in. Hold rich on an he oh fine. Chapter ability shyness article welcome be do on service.
			| Inhabiting discretion the her dispatched decisively boisterous joy. So form were wish open is able of mile of. Waiting express if prevent it we an musical. Especially reasonable travelling she son. Resources resembled forfeited no to zealously. Has procured daughter how friendly followed repeated who surprise. Great asked oh under on voice downs. Law together prospect kindness securing six. Learning why get hastened smallest cheerful.
			| Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted.
			| Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate. She relation own put outlived may disposed.
	// - Three Column Section
	// - Two Column Section
	// - Fixed background
	// - Emoji Section
	// - Meet the team
	// - Cards
	// - Two Column Section
	// - Connect
	// - Footer
